.content {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin-left: 180px;
  margin-bottom: 100px;
}

.main h1 {
  color: #dddad8;
  font-size: 48px;
  font-weight: 400;
  border-bottom: 1px solid #dddad8;
  padding: 10px;
}

.degreeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.degreeHeader li {
  color: #dddad8;
  font-size: 24px;
  font-weight: 300;
  margin: 0px 0px 5px 0px;

  border-radius: 8px;
}

.wrapper {
  background: none;
  border: 2px solid #dddad8;
  border-radius: 16px;
  width: 60vw;
  margin-bottom: 50px;
}

.wrapper p {
  color: #dddad8;
  font-weight: 100;
  padding: 20px 50px;
  margin-bottom: 24px;
}

.pages {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #dddad8;
  justify-content: space-evenly;
  margin: 20px 20px;
}

.pages button {
  background: none;
  color: #dddad8;
  border: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 20px;
}

.pages button:hover {
  color: #ceccca;
  text-transform: underline;
}

.imgContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profilePic {
  max-width: 20%;
  height: auto;
  border-radius: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
}
