.hobbyContent {
  display: flex;
  flex-direction: column;
  height: 200vh;
  width: 100vw;
}

.hobbyName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.hobbyName h1 {
  color: white;
}

.hobbyCard {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-evenly;
}

.hobbyText {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 500px;
  height: 500px;
  border-radius: 16px;
  padding: 20px;
}

.mediaContent {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
  background-color: white;
  width: 1000px;
  height: 600px;
  border-radius: 16px;
  padding: 20px;
}

.mediaWrapper video {
  width: 200px;
  height: 260px;
}
