.cardComponentWrapper {
  background-color: #dddad8;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin: 50px 50px;
  border-radius: 16px;
  padding: 20px;
}

.cardComponentWrapper img {
  height: 120px;
  width: 100px;
}
