@media only screen and (max-width: 600px) {
  .contactContent .header h1 {
    font-size: 24px;
  }
  .cardComponent {
    margin: 0px;
  }
  .contactCardComponentWrapper {
    width: 60vw;
  }
  .contactCardComponentWrapper h1 {
    font-size: 24px;
  }
  .mailContent {
    width: 60px;
  }
  .mailContent h1 {
    font-size: 24px;
  }
  .callContent {
    width: 60px;
  }
  .callContent h1 {
    font-size: 24px;
  }
}
